In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stat

In [2]:
data=pd.read_csv("Sales_add.csv")
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [3]:
#H0 : increase in sales after stepping into digital marketing.
#Ha : no increase in sales after stepping into digital marketing

In [4]:
data.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

In [5]:
BDM = data['Sales_before_digital_add(in $)']
ADM = data['Sales_After_digital_add(in $)']

In [6]:
t_score=stat.ttest_ind(ADM,BDM,alternative="greater")
t_score

Ttest_indResult(statistic=12.995084451110877, pvalue=1.3071840034523225e-16)

p-value < 0.05, so we  reject null hypothesis , ie there is increase in sales after stepping into digital marketing.

# The company needs to check whether there is any dependency between the features “Region” and “Manager”.

In [7]:
# H0: Region and Manager are independent
# H1: Region and Manager are not independent

In [8]:
data['Region'].value_counts()

Region - A    10
Region - B     7
Region - C     5
Name: Region, dtype: int64

In [9]:
#Categorical data

In [10]:
data['Manager'].value_counts()

Manager - A    9
Manager - B    7
Manager - C    6
Name: Manager, dtype: int64

In [11]:
#Categorical data

In [12]:
from scipy.stats import chi2_contingency

In [13]:
cross_tab=pd.crosstab(data["Region"],data["Manager"])

In [14]:
chivalue,pvalue,Dof,Expected_Value=chi2_contingency(cross_tab)
print("Chi-value",chivalue)
print("P-value",pvalue)
print("Dof",Dof)

Chi-value 3.050566893424036
P-value 0.5493991051158094
Dof 4

P-Value >0.05 ,so we fail to reject null hypothesis (accept H0 ) ie, Region and Manager are independent